* {
    padding: 0;
    margin: 0;
}

html,
body {
    background: #000;
    color: #fff;
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
}

canvas {
    touch-action-delay: none;
    touch-action: none;
    -ms-touch-action: none;
}

.text-dark {
    font-size: 1.2em;
}

.heading {
    color: #fff;
}

.bg-primary {
    background: #0072B7;
}

.bg-branco {
    background: #fff;
}
#page4{
	background: #085B8E;
}
#page5{
	background: #014772;
}
#page3{
	background: #067BC2;
}